.label {
  display: table-cell;
  padding-right: 8px;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
}

.starImage {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 13px;
  height: 13px;
}
