.container {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.ratingsWrapper {
  display: table;
  border-spacing: 0 4px;
  width: 100%;
  row-gap: 4px;
  font-family: inherit;
}
.ratingWrapper {
  display: table-row;
  width: 100%;
  padding-bottom: 4px;
}
.ratingWrapper:last-child {
  padding-bottom: 0;
}
