.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.averageRatingValue {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.iconsWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
.subTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1D1D1D;
  font-size: 12px;
  min-width: 104px;
  padding-top: 4px;
  column-gap: 4px;
}
.starImage {
  width: 18px;
  height: 18px;
}
